@use "../../colors";

$row-spacing: 7px;
$side-padding: 35px;
$input-height: 37px;

#form-title {
  font-style: italic;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
}

#recipe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px $side-padding 15px $side-padding;
}

@media screen and (max-width: 330px) {
  #recipe-form {
    padding: 15px 10px 15px 10px;
  }
}

.form-row {
  margin-top: $row-spacing;
  margin-bottom: $row-spacing;
  display: flex;
  gap: 15px;
  align-items: flex-end;

  // line up bullet point with middle of input
  // could probably do this better with align-items: center
  span {
    margin-bottom: calc($input-height/5);
  }
}

.form-label {
  font-size: 15px;
  margin-left: 5px;
  margin-bottom: 3px;
}

.form-input {
  border: none;
  padding: 10px 15px 10px 15px;
  background-color: colors.$form-blue;
  font-family: 'Playfair Display';
  font-weight: 400;
  width: 100%; // expand to form-item size
  // text-align: start;
  height: $input-height;
  resize: none;
  color: colors.$dark-blue;
}

.form-input::placeholder {
  color: colors.$form-gray;
  font-weight: 500;
}

.form-item {
  flex: 1 1 auto; // distribute space evenly between children
  min-width: 80px;
  // width: 100%; // expand to available space inside flex row
}

.new-button {
  background-color: transparent;
  border: none;
  font-family: 'Playfair Display';
  color: colors.$dark-blue;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  gap: 15px;
  margin-top: $row-spacing;
}

.form-list {
  margin-top: $row-spacing;
  margin-bottom: $row-spacing;
}

.form-list-row {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: $row-spacing;
}